@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption|Nunito+Sans&display=swap');
* { box-sizing: border-box;

     overflow: visible !important;

 }
html, body {  margin: 0; padding: 0px;}
a { color: white; text-decoration: none;}  
a:hover{ color:#95e6ff; text-shadow: 0px 0px 4px #04c4ff;}   
body {background-color: #aad1d2;}
#fresh { 
  transition-duration: .4s; 
  height: 50px; width: 50px; 
  margin: 20px 0px 0px 20px; 
  border-radius: 30px; 
  background-color: white; 
  font-size: 24px !important; 
  border: 2px solid white;
}


.infotext{
border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;


    /*
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial; */
}

.buttonbar {
    background-color: #2b2b2b;

    /*
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 2px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial; */
}  


.infobox{
 height: 500px;
    position: sticky;
    top: 0;

    margin: 20px 0px 0px 20px;
}



#fresh:hover { background-color: #04c4ff; color: white;}
#fresh:focus { outline:0; }
.tabbutton { 
  height: 40px; width: 80px; 
  font-size: 23px;
  padding: 0;
  border: none;
  background: none;
  color:white;
  font-family: "PT Sans Caption",Arial;
}
.tabbutton:hover { background-color: #8e8e8e !important; color: white;}
.tabbutton:focus { outline:none; background-color: #505050; color: white; }
.tabbutton.b{
  margin-left: -4px;
}
.buttonbar{
  background-color: #2b2b2b;
}
.greytab{
  background-color: #505050;
}
h1 {
  color: white;  
  margin: 20px 0px 0px 100px;
  padding: 0px 0px 20px 20px;
  font-family: "PT Sans Caption",Arial;
  font-size: 35px;
}
footer { 
  font-family: sans-serif; 
  text-align: center; 
  color: black; width:99%;
  margin: 50px 0px 50px 0px; 
  bottom: 0px;
}
form {
  width: 20px;
  margin: 15px 0px 0px 15px;
}
p { margin: 0px 0px 0px 0px; }
ol { margin: 0px 0px 0px 0px; }
li { padding-bottom: 5px; }
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin-left: -15px !important;
}
ol li { counter-increment: my-awesome-counter; }
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #ffffff;
  font-weight: bold;
}
input[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[type=text]:focus {
  border-color:  #04c4ff; 
  outline: none;
}
input[type=submit] {
  padding:5px 15px; 
  background:#ccc;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}
.flexbox { 
  display: flex; 
  /*
  background: linear-gradient(90deg, rgba(58,179,180,1) 0%, rgba(253,29,29,1) 50%, rgba(242,252,69,1) 100%);*/
  background-color: #2b2b2b;
  justify-content: center;
}
.num { color:white; padding-left: 10px; }
.contain{ 
  /*
  border-right-color: white;
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;  */
  min-height: 70%; 

}
.large {
  color: #a7a7a7; 
  padding: 5px 5px 10px 5px;
  font-family: "Nunito Sans", Arial, sans-serif; 
  font-size: 20px;
  font-weight: bold;
  width: 475px; background-color: #3c3c3c;
}
.large:nth-child(odd) {background: #505050;}
.short{ width: 50px; }
.button{
  width: 50px;
  background-color: white;
  border-radius: 5px;	
  transition-duration: .4s;
  font-size: 20px;
  font-family: sans-serif;
}
.button:hover{ background-color: #04c4ff; color: white; }
.button:focus{ outline:none; }
.flexi{ 


  display: flex; 
  justify-content: center;


}

ol li{
  font-size: 18px;
}



.infotext{
	width: 400px;
  background-color: #505050;
  font-family: Arial;
  padding: 5px 15px 15px 15px;
  color: white;
}
.tab{ 
  margin-top: 10px; 
}
.emojis{ font-size:20px !important; }
.infohead{
	padding: 10px 10px 10px 10px;
	color: #ef4444;
	margin: 0px 0px 0px 0px;
}
#stathead, #statheadb{
  padding: 0px 10px 10px 10px;
 color:white;
  margin: 0px 0px 0px 0px;
  font-family: "PT Sans Caption",Arial;
  font-size: 20px ;
}
.animfade{animation:fading .5s}@keyframes fading{0%{opacity:0}100%{opacity:1}}


@media (max-width: 1100px){
    h1{
max-width: 600px;}
}

@media (max-width: 900px){
  .contain {
    margin-top: 575px;
    max-width: 475px;
    margin-left: 125px;
}

#stathead{
  font-size: 30px !important;
}

ol li {
  font-size: 22px !important;
}

.large{
  margin: 0px 400px 0px 0px; 
  font-size: 30px;
  width:550px;
}

.flexi{
  justify-content:  normal;
}

h1{
  margin: 20px 0px 0px 30px;
  width: 600px;
  font-size: 30px;
  color:white;
}

.flexbox{
  min-width: 800px;
  justify-content: center;
}


  .infobox{
    position: relative;
    right: 475px;
    margin: 0;
    width: 550px;
    
  }
  .buttonbar{
    margin:0;
  }

  .infotext{
    font-size: 20px;
    margin: 0;
    width: 550px;
    min-height: 535px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  footer{
    display: none;
  }

  #fresh{
    margin-left: -40px;
    margin-bottom: 20px;
  }

}